<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="theme=${theme} ? ${theme} : 'dark'" th:attr="data-theme=${theme}">
<head>
    <meta charset="UTF-8">
    <title>ULTRACARDS</title>
    
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <script th:src="@{/js/theme.js}" defer></script>
</head>
<body>
<div th:replace="~{ui/fragments/header :: header}"></div>

<main>
    <section class="hero container">
        <h1>ULTRACARDS</h1>
        <p th:if="${isAuthenticated}">
            Welcome back bludisife
        </p>
        <p th:unless="${isAuthenticated}">
            Welcome to ULTRACARDS!
        </p>
    </section>
    <section th:if="${isAuthenticated}" class="hero container">
        <a th:href="@{/lobbies}"><button><h2>Go to games</h2></button></a>
    </section>
</main>

<div th:replace="~{ui/fragments/footer :: footer}"></div>
    <script th:src="@{/js/ui/home.js}"></script>
</body>
</html>
