<th:block th:fragment="search" xmlns:th="http://www.thymeleaf.org">
  <form class="header-search" data-header-search role="search" autocomplete="off"
        th:attr="data-authenticated=${isAuthenticated}">
    <label class="sr-only" for="header-user-search" th:text="#{header.search.users}">Search users</label>
    <img class="uc-icon header-search-icon" data-icon="search" th:src="@{/pics/light/search.svg}" alt="" aria-hidden="true" />
    <input
      id="header-user-search"
      class="header-search-input"
      type="search"
      th:placeholder="#{header.search.users}"
      th:aria-label="#{header.search.users}"
      aria-controls="header-search-results"
      aria-expanded="false"
      data-header-search-input />
    <div
      id="header-search-results"
      class="header-search-dropdown"
      role="listbox"
      aria-hidden="true"
      data-header-search-results></div>
  </form>
</th:block>
