<!DOCTYPE html>
<html lang="en" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ULTRACARDS - 404</title>

    <script th:src="@{/js/theme-preload.js}"></script>
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <script th:src="@{/js/theme.js}" defer></script>
</head>
<body>
<div th:replace="~{ui/fragments/header :: header}"></div>
<section class="hero container">
    <h2 th:text="#{error.heading('404')}">Error 404</h2>
    <h3 th:text="#{error.404.message}">This page does not exist! :3</h3>
    <p>
        <a th:href="@{/}" class="btn btn-accent" th:text="#{error.goHome}">Go to home</a>
    </p>
</section>
<div th:replace="~{ui/fragments/footer :: footer}"></div>
</body>
</html>
