<th:block th:fragment="footer">
  <footer class="footer" th:fragment="footer">
    <div class="container">
      <small>
        © <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span> ULTRACARDS v<span th:text="${@environment.getProperty('app.version')}">0.0.0</span> — <span id="random-footer"></span>
      </small>
    </div>
  </footer>
  <div class="rotate-lock-overlay" role="alert">
    <p th:text="#{footer.rotateHint}">Rotate your phone back to portrait for better experience</p>
  </div>
    <script th:src="@{/js/ui/fragments/footer.js}"></script>
</th:block>
