<th:block th:fragment="header" xmlns:th="http://www.thymeleaf.org">
  <header class="uc-header">
    <div class="uc-header-inner">
      <div class="uc-header-zone uc-header-zone-brand">
        <th:block th:replace="~{ui/fragments/header/brand :: brand}"></th:block>
      </div>
      <div class="uc-header-zone uc-header-zone-search">
        <th:block th:replace="~{ui/fragments/header/search :: search}"></th:block>
      </div>
      <div class="uc-header-zone uc-header-zone-actions">
        <th:block th:replace="~{ui/fragments/header/actions :: actions}"></th:block>
      </div>
    </div>
  </header>

  <th:block th:replace="~{ui/fragments/header/auth-modal :: authModal}"></th:block>
  <script th:if="${isAuthenticated}" th:src="@{/webjars/stomp-websocket/2.3.4/stomp.min.js}"></script>
  <script th:if="${isAuthenticated}" th:src="@{/js/chat.js}"></script>
  <script th:src="@{/js/ui/fragments/header/utils.js}"></script>
  <script th:src="@{/js/ui/fragments/header/layout.js}"></script>
  <script th:src="@{/js/ui/fragments/header/search.js}"></script>
  <script th:src="@{/js/ui/fragments/header/profile-menu.js}"></script>
  <script th:if="${isAuthenticated}" th:src="@{/js/ui/fragments/header/notifications.js}"></script>
  <script th:if="${isAuthenticated}" th:src="@{/js/ui/fragments/header/friends.js}"></script>
  <script th:src="@{/js/ui/fragments/header/auth-modal.js}"></script>
  <script th:src="@{/js/ui/fragments/header.js}"></script>
</th:block>
